@keyframes move
	to
		transform translateX(10px)
body
	// width 100%
	// float left
	// margin 0 auto
.scroll
	width 116px
	position absolute
	top 466px
	right 15px
	z-index 10
	border-radius 0 0 58px 58px
	overflow hidden
	.currentroll
		color rgb(240,234,86)
	.scrollhd1
		width 116px
		height 120px
		background-image url("../img/sprite2.png")
	.scrollhd2
		width 116px
		background-color rgb(136,57,242)
		padding 0px 10px
		ul
			text-align center
			color white
			font-size 14px
			li
				height 32px
				width 96px
				line-height 32px
				a
					display block
					height 30px
				&:hover
					color rgb(240,234,86)
			li:not(:nth-last-of-type(1))
				border-bottom 1px solid rgb(149,80,231)
	.scrollhd3
		width 116px
		background-color rgb(121,57,207)
		a
			display block
			width 116px
			text-align center
			color white
			font-size 20px
			line-height 60px
			font-weight bold
			border-radius 0 0 58px 58px
			&:hover
				color rgb(240,234,86)
.nav
	width 100%
	background-color black
	height 60px
	position relative
	.midnav
		width 980px
		height 60px
		margin 0 auto
		position relative
		.text
			display inline-block
			width 72px
			line-height 20px
			height 60px
			position relative
			.location
				position absolute
				top 50%
				transform translateY(-50%)
			.startCity
				right 0
				top 50%
				transform translateY(-50%)
				position absolute
				display inline-block
				width 40px
				font-size 18px
				color rgb(255,238,0)
				font-weight bold
		ul.citylist
			list-style none
			display inline-block
			font-size 18px
			color white
			margin-left 10px
			position absolute
			top 50%
			transform translateY(-50%)
			li
				display inline-block
				border 2px solid white
				width 68px
				height 30px
				border-radius 15px
				text-align center
				line-height 28px
			.current
				border 2px solid rgb(254,230,72)
				background-color rgb(254,230,72)
				color black
.navimg
	background-color rgb(61,172,103)
	height 580px
	margin 0 auto
	.backimg
		position relative
		width 980px
		height 459px
		background-size cover
		background-repeat no-repeat
		background-position -960px
		margin 0 auto
		img
			position absolute
			left 50%
			transform translateX(-50%)
		.boxhead
			position absolute
			top 69%
			right 50%
			transform translateX(47%)
			.boxmid
				display block
				background-color rgb(250,233,11)
				width 234px
				height 56px
				border-radius 16px
				border 2px solid black
				box-shadow 0 3px 0 0 black
				text-align center
				line-height 56px
				span
					color rgb(231,21,58)
					font-weight bold
				.text
					font-size 30px
				.iconfont
					font-size 30px
					display inline-block
					font-family iconfont
					animation move 1s linear infinite
		.boxfoot
			position absolute
			bottom -102px
			left 50%
			transform translateX(-49%)
			width 1000px
			height 123px
			margin 0 auto
			z-index 3
			a
				display inline-block
				width 188px
				height 123px
				border-radius 6px
				margin-right 5px
				span
					margin 10px 0 0 10px
					display block
					color white
				.text
					font-size 24px
					font-weight bold
				.context
					font-size 14px
			.item-first
				background-image url("../img/1.jpg")
			.item-second
				background-image url("../img/2.jpg")
			.item-third
				background-image url("../img/3.jpg")
			.item-forth
				background-image url("../img/4.jpg")
			.item-fifth
				background-image url("../img/5.jpg")
				
.m-box-hd
	width 980px
	height 93px
	text-align center
	span
		display block
		font-weight bold
	.hot-title
		font-size 30px
		color white
		padding-top 15px
		line-height 30px
	.hot-desc
		font-size 16px
		line-height 24px
		color rgb(255,238,0)
.bottom
	position relative
	height 87px
	color white
	margin-bottom 10px
	.line1
		width 412px
		height 1px
		background-color black
		position absolute
		top 50%
		left 12px
		transform translate(0%,-50%)
	.line2
		width 412px
		height 1px
		background-color black
		position absolute
		top 50%
		right 12px
		transform translate(0%,-50%)
	.more
		display block
		width 132px
		height 36px
		border-radius 18px
		background-color rgba(0,0,0,0.5)
		text-align center
		line-height 36px
		position absolute
		left 50%
		top 50%
		transform translate(-50%,-50%)
		span
			font-family iconfont
.main-top
	.iconfont
		font-size 30px
		display inline-block
		font-family iconfont
		animation move 1s linear infinite
	background-color rgb(129,90,216)
	.inland
	.exit
	.hotline
		width 980px
		margin 0px auto
		padding 40px 0
	.item
		padding 10px
		width 244px
		height 286px
		float left
		&:hover .img
			transform scale(1.1)
		.item-tit
			width 224px
			height 149px
			overflow hidden
			position relative
			.img
				width 224px
				height 149px
				transition all 1s linear
			.tag
				position absolute
				top 10px
				right 10px
				width 68px
				height 68px
				border-radius 50%
				background-color rgb(242,62,79)
				&>span
					display block
					width 68px
					font-size 14px
					line-height 16px
					text-align center
					height 20px
				.tag-hd
					margin-top 18px
					color white
				.tag-bd
					font-weight bold
					color rgb(255,240,110)
		.item-cont
			width 224px
			height 117px
			padding 10px
			background-color white
			&>span
				display block
				width 204px
				text-overflow ellipsis
				overflow hidden
				white-space nowrap
			.title
				font-size 16px
				font-weight bold
				line-height 18px
			.description
				font-size 14px
				line-height 26px
			.item-bottom
				position relative
				width 204px
				height 52px
				margin-top 12px
				.item-price>span
					color rgb(255,57,57)
				.price
					font-size 24px
				.yen
				.start
					font-size 14px
				.buy
					position absolute
					width 80px
					height 40px
					border-radius 5px
					background-color rgb(242,62,79)
					color white
					text-align center
					font-size 18px
					line-height 40px
					top 0
					right 0
					&:hover
						background-color rgb(230,24,24)
						color rgb(255,209,15)
				.item-oldprice
					color rgb(102,102,102)
					text-decoration line-through
	.inland
	.exit
		.fixed
			width 980px
			height 52px
		.item-nav
			width 961px
			height 52px
			overflow hidden
			margin 0 auto
			a
				display inline-block
				width 480px
				height 52px
				line-height 52px
				color rgb(70,30,189)
				background-color rgb(147,105,204)
				text-align center
				font-size 18px
				font-weight bold
				&:hover
					color rgb(255,238,0)
					background-color rgb(79,30,189)
			.follow
				border-left 1px solid rgb(79,30,189)
				border-top 1px solid rgb(79,30,189)
				border-bottom 1px solid rgb(79,30,189)
				border-radius 6px 0 0 6px
			.free
				border 1px solid rgb(79,30,189)
				border-radius 0 6px 6px 0
			.firstclass
				color rgb(255,238,0)
				background-color rgb(79,30,189)
	.hotline
		.container
			background-color rgb(226,184,0)
		.fixed
			width 980px
			height 52px
		.item-nav
			width 961px
			height 52px
			overflow hidden
			margin 0 auto
			a
				display inline-block
				width 480px
				height 52px
				line-height 52px
				color rgb(155,128,11)
				background-color rgb(247,222,110)
				text-align center
				font-size 18px
				font-weight bold
				&:hover
					color rgb(255,238,0)
					background-color rgb(155,128,11)
			.in
				border-left 1px solid rgb(155,128,11)
				border-top 1px solid rgb(155,128,11)
				border-bottom 1px solid rgb(155,128,11)
				border-radius 6px 0 0 6px
			.out
				border 1px solid rgb(155,128,11)
				border-radius 0 6px 6px 0
			.secondclass
				color rgb(255,238,0)
				background-color rgb(155,128,11)
.memberback
	background-color rgb(102,51,218)
	padding-top 60px
	.member
		width 980px
		margin 0 auto
		.member-top
			width 980px
			height 190px
			background-image url("../img/11.jpg")
			font-size 30px
			text-align center
			line-height 80px
			span
				color white
				font-weight bold
		.member-mid
			width 980px
			height 100px
			background-color rgb(73,27,178)
			.inner
				position relative
				width 960px
				height 100px
				border-radius 6px
				background-color rgb(69,116,232)
				margin 0 auto
				border-radius 10px
				overflow hidden
				.mid
					margin-top 10px
					padding-left 10px
					width 476px
					height 80px
					float left
					&>div
						display inline-block
				.big
					color white
					font-size 88px
					float left
					span
						font-weight bold
				.text
					margin-top 10px
					position relative
					width 250px
					height 88px
					float left
					.mid-top
						color white
						font-size 24px
						font-weight bold
						line-height 24px
					.mid-bottom
						color rgb(249,219,0)
						font-size 36px
						line-height 36px
						font-weight bold
						.num
							font-size 40px
							font-family "Impact"
				.block
					margin-top 5px
					float left
					width 86px
					height 75px
					border-radius 10px
					background-color rgb(250,233,11)
					span
						float left
						color rgb(231,21,58)
						font-size 24px
						font-weight bold
						line-height 26px
				.left
					padding-left 20px
					.block
						padding 11px 0 11px 12px
					.icon
						font-family iconfont
						line-height 45px
						margin-left 3px
				.right
					padding-left 70px
					.block
						padding-left 5px
						line-height 75px
						.tolook
							line-height 75px
				.middle
					width 1px
					height 110px
					float left
					margin-left -3px
					i
						width 2px
						height 6px
						background-color rgb(108,54,22)
						display block
						margin-top 3px
						margin-left -3px
				.levelup
					background-color rgb(73,27,178)
					width 112px
					height 28px
					line-height 28px
					font-weight bold
					color white
					position absolute
					left 50%
					transform translateX(-50%)
					text-align center
					border-radius 14px
		.member-bottom
			background-image url("../img/11-1.jpg")
			width 980px
			height 200px
			color rgb(255,238,0)
			text-align center
			line-height 70px
			.mark
				color rgb(74,214,247)
.main-foot
	background-color rgb(102,51,218)
	.iconfont
		font-size 30px
		display inline-block
		font-family iconfont
		animation move 1s linear infinite
	.freego
	.essential
	.bargain
		width 980px
		margin 0px auto
		padding 40px 0
	.item
		padding 10px
		width 244px
		height 286px
		float left
		&:hover .img
			transform scale(1.05)
		.item-tit
			width 224px
			height 149px
			overflow hidden
			position relative
			.twoD
				position absolute
				top 0
				background-color rgba(0,0,0,0.5)
				background-image url("../img/2d.jpg")
				background-position 66px 12px
				width 224px
				height 149px
				background-repeat no-repeat
				text-align center
				display none
				span
					display inline-block
					color rgb(255,238,0)
					font-weight bold
					margin-top 120px
			&:hover .twoD
				display block
				z-index 2
			.img
				width 224px
				height 149px
				transition all 0.5s linear
			.tag
				position absolute
				top 10px
				right 10px
				width 68px
				height 68px
				border-radius 50%
				background-color rgb(242,62,79)
				z-index 1
				&>span
					display block
					width 68px
					font-size 14px
					line-height 16px
					text-align center
					height 20px
				.tag-hd
					margin-top 18px
					color white
				.tag-bd
					color white
			.cover
				background-color rgb(0,0,0,0.5)
		.item-cont
			width 224px
			height 117px
			padding 10px
			background-color white
			&>span
				display block
				width 204px
				text-overflow ellipsis
				overflow hidden
				white-space nowrap
			.title
				font-size 16px
				font-weight bold
				line-height 18px
			.description
				font-size 14px
				line-height 26px
			.item-bottom
				width 204px
				height 52px
				margin-top 12px
				.item-price
					position relative
					height 40px
					.mon
						color rgb(255,57,57)
						position absolute
						bottom 0
						left 0
						.price
							font-size 24px
						.yen
						.start
							font-size 14px
					.buy
						position absolute
						width 80px
						height 40px
						border-radius 5px
						background-color rgb(242,62,79)
						color white
						text-align center
						font-size 18px
						line-height 40px
						top 0
						right 0
						&:hover
							background-color rgb(230,24,24)
							color rgb(255,209,15)
	.bargain 
		.container
			background-color rgb(238,157,80)
		.fixed
			width 980px
			height 52px
		.item-nav
			width 961px
			height 52px
			overflow hidden
			margin 0 auto
			a
				display inline-block
				width 480px
				height 52px
				line-height 52px
				color rgb(231,96,38)
				background-color rgb(254,194,124)
				text-align center
				font-size 18px
				font-weight bold
				&:hover
					color rgb(255,238,0)
					background-color rgb(231,96,38)
			.in
				border-left 1px solid rgb(231,96,38)
				border-top 1px solid rgb(231,96,38)
				border-bottom 1px solid rgb(231,96,38)
				border-radius 6px 0 0 6px
			.out
				border 1px solid rgb(231,96,38)
				border-radius 0 6px 6px 0
			.thirdclass
				color rgb(255,238,0)
				background-color rgb(231,96,38)
	.freego
		.container
			background-color rgb(70,119,206)
	.essential 
		.container
			background-color rgb(70,119,206)
		.fixed
			width 980px
			height 52px
		.item-nav
			width 960px
			height 52px
			overflow hidden
			margin 0 auto
			a
				display inline-block
				width 320px
				height 52px
				line-height 52px
				color rgb(19,69,155)
				background-color rgb(123,189,247)
				text-align center
				font-size 18px
				font-weight bold
				&:hover
					color rgb(255,238,0)
					background-color rgb(19,69,155)
			.visa
				border-left 1px solid rgb(19,69,155)
				border-top 1px solid rgb(19,69,155)
				border-bottom 1px solid rgb(19,69,155)
				border-radius 6px 0 0 6px
			.wifi
				border-left 1px solid rgb(19,69,155)
				border-top 1px solid rgb(19,69,155)
				border-bottom 1px solid rgb(19,69,155)
			.car
				border 1px solid rgb(19,69,155)
				border-radius 0 6px 6px 0
			.forthclass
				color rgb(255,238,0)
				background-color rgb(19,69,155)
.footer
	background-color rgb(62,172,103)
	height 220px
	overflow hidden
	.foot-top
		width 980px
		text-align center
		position relative
		margin 0 auto
		margin-top 20px
		.circle1
		.circle2
			position absolute
			width 10px
			height 10px
			border-radius 50%
			background-color rgb(79,30,189)
			transform translateY(-50%)
			top 50%
		.circle1
			left 0
		.circle2
			right 0
		.line1
		.line2
			position absolute
			width 300px
			height 4px
			background-color rgb(79,30,189)
			transform translateY(-50%)
			top 50%
		.line1
			left 0
		.line2
			right 0
		.text
			color rgb(79,30,189)
			font-size 30px
			line-height 100px
			font-weight bold
	.foot-bottom
		width 980px
		margin 0 auto
.detail
	width 980px
	margin 0 auto
	font-size 14px
	text-align center
	height 30px
	margin-top 30px
	.list
		position relative
		width 120px
		margin 0 auto
		display inline-block
		border 1px solid transparent
		color rgb(156,165,188)
		&:hover
			border 1px solid rgb(156,165,188)
		&:hover .detaillist
			display block
		&:hover .first
			color rgb(255,158,94)
		&:hover .icon
			transform rotate(270deg)
		.icon
			display inline-block
			font-family iconfont
			transform rotate(90deg)
		.first
			display inline-block
			height 20px
			line-height 20px
		.detaillist
			display none
			height 100px
			background-color white
			position absolute
			top -100px
			left -1px
			width 120px
			border 1px solid rgb(156,165,188)
			line-height 25px
			a
				height 25px
				display block
				&:hover
					background-color rgb(226,226,226)
					color rgb(102,102,102)
	.detailtop>a
		display inline-block
		height 20px
		line-height 20px
		&:hover
			color red
	.normal
		color rgb(156,165,188)
	.sue
		color red
	.detailmid
		span
			display inline-block
			margin 10px 2px
			color rgb(156,165,188)
	.detailbottom
		a
			display inline-block
			height 30px
			margin 10px 2px
		.first
			width 100px
			background-image url("../img/18.png")
			background-position 0px 0px
		.second
			width 49px
			background-image url("../img/18.png")
			background-position 412px 0px
		.third
			width 91px
			background-image url("../img/18.png")
			background-position 358px 0px
		.forth
			width 78px
			background-image url("../img/18.png")
			background-position 262px 0px
		.fifth
			width 87px
			background-image url("../img/18.png")
			background-position 180px 0px
		.sixth
			width 88px
			background-image url("../img/18.png")
			background-position 88px 0px
.clear
	width 0px
	height 0px
	clear both
                                                                                                                                                                                                                                                                                                                                                                               






















